body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    font-family: 'Satoshi', sans-serif;

}

.block1 {
    position: absolute;
    z-index: -10;
   height: 80vh;
   width: 100vw;
    clip-path: polygon(0 100%, 200% 0, 0 0, 0 0);
    background: rgb(135,76,203);
    background: linear-gradient(144deg, rgba(135,76,203,1) 0%, rgba(155,92,192,1) 18%, rgba(187,74,199,1) 30%, rgba(255,172,138,1) 52%, rgba(238,88,124,1) 63%, rgba(236,79,122,1) 75%, rgba(135,76,203,0.9500175070028011) 91%);
}

.block3 {
    position: absolute;
    z-index: -10;
   height: 70vh;
   width: 100vw;
   clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
    background: #EBF5FF;
}

.block4 {
    position: absolute;
    z-index: -10;
   height: 70vh;
   width: 100vw;

   clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
    background: #EBF5FF;
}



.title-font {
    font-weight: 900;
    font-size: 42px;
    line-height: 58px;
    letter-spacing: -0.005em;
}

.title-font2 {
    font-weight: 900;
    font-size: 24px;
}


@media only screen and (min-width: 2000px) {

    .block1 {
        height: 80vh;
    }

    .block3 {
        height: 50vh;
     }
}

@media only screen and (max-width: 1280px) {
    .title-font {
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.005em;
    }

    .block1 {
        height: 60vh;
    }


}

@media only screen and (max-width: 768px) {
    .title-font {
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.005em;
    }

    .block1 {
        clip-path: polygon(0 100%, 400% 0, 0 0, 0 0);
        height: 100vh;
    }

    .block3 {
       height: 80vh;
    }

}